html, body, .root, #root, .main-container,.MuiContainer-root{
  width: 100%!important;
  height: 100%!important;
}

.makeStyles-paper-1{
  margin-top: inherit!important;
  padding-top: 128px!important;
}
.MuiAvatar-root{
  width: 150px!important;
  height: 150px!important;
}

.MuiSvgIcon-root{
  width: 3em!important;
  height: inherit!important; 
}

.catalog-img{
  width: 100%;
}

.button-container{
  position: relative;
}

.button-see-more{
  position: absolute!important;
  right: 20px;
  bottom: 10px;
}